<!DOCTYPE html>
<html lang="es-ES" ng-app="shared">
  <head>
    <title>Prestauy | Créditos Hipotecarios</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="En prestauy nos dedicamos a otorgar los mejores préstamos hipotecarios.">
    <meta name="keywords" content="créditos, hipotecarios, uruguay">
    <meta name="google-site-verification" content="PTUmyviHQGzU_sX_Bwa4mbHli2XWuY1HG7IYovFQDLM" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic|Open+Sans:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic|Raleway:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic|Playfair+Display:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <!--build:css css/styles.min.css-->
    <link href="resources/vendor/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="resources/css/main.css" rel="stylesheet" type="text/css"/>
    <link href="resources/css/responsive.css" rel="stylesheet" type="text/css"/>
    <!--endbuild-->
    <script src='https://www.google.com/recaptcha/api.js'></script>
  </head>
  <body>
    <!--<div class="alertsTop hideAll" ng-controller="alertCtrl as vm" >
      <alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.closeAlert($index)">{{alert.msg}}</alert>
    </div>-->
    <nav class="hdr-stle navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="border-bot">

              <a href="javascript:;">
                <img id="prestaLogo" src="resources/img/Prestauy-logo-lateral-transparente-300x114.png" height="90" width="237" alt="Prestamos"/>
              </a>
            </li>
            <!--<li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>-->
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="border-bot">
              <a href="javascript:;" scroll-to scroll-to-elem=".imgcont" reduce-offset="100" >Inicio<span>|</span></a>
            </li>
            <li class="border-bot">
              <a href="javascript:;" scroll-to scroll-to-elem=".comohcmos" reduce-offset="100">Nosotros<span>|</span></a>
            </li>
            <li>
              <a href="javascript:;" scroll-to scroll-to-elem=".frmbtm" reduce-offset="100">Tel: 2908 28 47 – Mail: contacto@prestauy.com </a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div>
      <div class="imgcont">
        <img class="city" src="resources/img/ciudad.jpg" alt="Prestamos Rápidos"/>
        <div class="title_subtitle_holder">
          <div class="title_subtitle_holder_inner">
            <h1 style="color:#000000">EL CRÉDITO HIPOTECARIO MÁS ACCESIBLE</h1>
            <h3>Total seriedad y confidencialidad para la resolución de sus necesiades</h3>
          </div>
        </div>
      </div>
      <div class="comohcmos">
        <div class="row hcmos text-center">
          <div class="col-xs-12">
            <h3>QUÉ HACEMOS</h3>
          </div>
          <div class="col-xs-12">
            <h5>En prestauy nos dedicamos a otorgar los mejores préstamos hipotecarios y en el menor tiempo.</h5>
          </div>
        </div>
        <div>
          <div id="abjknai">
            <div class="row">
              <div class="col-xs-12">
                <ul class="row">
                  <li class="col-xs-6 col-sm-2">
                    <div class="q_circle_text_holder">
                      <span class="line"></span>
                      <span class="glyphicon glyphicon-ok"></span>
                      <h5 class="q_circle_title" style="">Términos</h5>
                      <p class="q_circle_text" style="">Puesta en marcha y tasas<br>
                        mensuales muy accesibles.</p>
                    </div>
                  </li>
                  <li class="col-xs-6 col-sm-2">
                    <div class="q_circle_text_holder">
                      <span class="line"></span>
                      <span class="glyphicon glyphicon-time"></span>
                      <h5 class="q_circle_title" style="">Implementación</h5>
                      <p class="q_circle_text" style="">Rápida resolución, sin costo<br>
                        de tasación de propiedad.</p>
                    </div>
                  </li>
                  <li class="col-xs-6 col-sm-2">
                    <div class="q_circle_text_holder">
                      <span class="line"></span>
                      <span class="glyphicon glyphicon-pencil"></span>
                      <h5 class="q_circle_title" style="">Asesoramiento</h5>
                      <p class="q_circle_text" style="">Grupo de profesionales<br>
                        especializados en cada rubro.</p>
                    </div>
                  </li>
                  <li class="col-xs-6 col-sm-2">
                    <div class="q_circle_text_holder">
                      <span class="line"></span>
                      <span class="glyphicon glyphicon-briefcase"></span>
                      <h5 class="q_circle_title" style="">Experiencia</h5>
                      <p class="q_circle_text" style="">Varios años en el rubro, los clientes<br>
                        nos avalan.<br>
                      </p>
                    </div>
                  </li>
                  <li class="col-xs-6 col-sm-2">
                    <div class="q_circle_text_holder">
                      <span class="line"></span>
                      <span class="glyphicon glyphicon-refresh"></span>
                      <h5 class="q_circle_title" style="">Confianza</h5>
                      <p class="q_circle_text" style="">Total seriedad y confidencialidad.<br>
                      </p>
                    </div>
                  </li>
                </ul>

              </div>
            </div>
          </div>
          <div id="abjknai-responsive" hidden>
            <div class="row">
              <div class="col-xs-6">
                <div class="q_circle_text_holder">
                  <span class="line"></span>
                  <span class="glyphicon glyphicon-ok"></span>
                  <h5 class="q_circle_title" style="">Términos</h5>
                  <p class="q_circle_text" style="">Puesta en marcha y tasas<br>
                    mensuales muy accesibles.</p>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="q_circle_text_holder">
                  <span class="line"></span>
                  <span class="glyphicon glyphicon-time"></span>
                  <h5 class="q_circle_title" style="">Implementación</h5>
                  <p class="q_circle_text" style="">Rápida resolución, sin costo<br>
                    de tasación de propiedad.</p>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="q_circle_text_holder">
                  <span class="line"></span>
                  <span class="glyphicon glyphicon-pencil"></span>
                  <h5 class="q_circle_title" style="">Asesoramiento</h5>
                  <p class="q_circle_text" style="">Grupo de profesionales<br>
                    especializados en cada rubro.</p>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="q_circle_text_holder">
                  <span class="line"></span>
                  <span class="glyphicon glyphicon-briefcase"></span>
                  <h5 class="q_circle_title" style="">Experiencia</h5>
                  <p class="q_circle_text" style="">Varios años en el rubro, los clientes<br>
                    nos avalan.<br>
                  </p>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="q_circle_text_holder">
                  <span class="line"></span>
                  <span class="glyphicon glyphicon-refresh"></span>
                  <h5 class="q_circle_title" style="">Confianza</h5>
                  <p class="q_circle_text" style="">Total seriedad y confidencialidad.<br>
                  </p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="row ctoa">
        <div class="col-xs-12 col-sm-6 col-sm-offset-2">
          <p class="text-center">Por que su crédito está a tan solo al alcance de un click, consúltenos para su tranquilidad.</p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <button type="button" class="btn btn-warning">Saber Más</button>
        </div>
      </div>
      <div class="frmbtm"  ng-controller="homeCtrl as vm">
        <img src="resources/img/city.jpg" alt=""/>
        <div class="formP">
          <div class="container">
            <h3 style="text-align: center; color: white!important;">CONTÁCTENOS</h3>
            <h4 style="text-align: center; color: white!important;">Le ayudaremos a resolver aquellas sean sus necesidades de forma rápida y segura.</h4>

            <form ng-submit="vm.sendEmail(emailData.$valid)" name="emailData" style="padding-top: 10px" novalidate class="wpcf7-form">
              <p>Nombre*<br>
                <span class="wpcf7-form-control-wrap your-name">
                  <input type="text" name="name" ng-model="vm.user.name" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" required/>
                  <span ng-show="emailData.name.$touched && emailData.name.$error.required" class="inputError">Nombre es requerido</span>
                </span>
              </p>
              <p>Email*<br>
                <span class="wpcf7-form-control-wrap your-email">
                  <input type="email" name="email" ng-model="vm.user.email" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" required>

                  <span ng-show="emailData.email.$touched && emailData.email.$error.required" class="inputError">Email es requerido</span>
                  <span ng-show="emailData.email.$touched && !emailData.email.$error.required && emailData.email.$error.email" class="inputError">Ejemplo de emails admisibles: xxx@xxx.com</span>

                </span>
              </p>
              <p>Telefono*<br>
                <span class="wpcf7-form-control-wrap your-tel">
                  <input type="number" name="telefono" value="" size="40" ng-model="vm.user.telefono" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" required>
                  <span ng-show="emailData.telefono.$touched && emailData.telefono.$error.required" class="inputError">Teléfono es requerido</span>
                </span> 
              </p>
              <p>Mensaje<br>
                <span class="wpcf7-form-control-wrap your-message">
                  <textarea class="wpcf7-form-control wpcf7-textarea"  cols="40" rows="10" name="mensaje" maxlength="1000" validate-email ng-model="vm.user.mensaje" placeholder="Escriba su mensaje aqui" required></textarea>
                  <span ng-show="emailData.mensaje.$touched && emailData.mensaje.$error.required" class="inputError">El mensaje es requerido.</span>
                </span> 
              </p>
              <p>
                <!--<div class="g-recaptcha" style="float: right;display: inline-block;" data-sitekey="6LckwhYUAAAAAPiee50hAbw-ZPDPsgHIsVpZRJAY"></div>-->
                <button type="submit" class="btn btn-warning" ng-disabled="!emailData.$valid">Enviar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--build:js js/main.min.js -->
    <script src="resources/vendor/node_modules/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="resources/js/libs/angular.min.js" type="text/javascript"></script>
    <script src="resources/vendor/node_modules/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script  type="text/javascript" src="https://unpkg.com/angular-ui-router@0.4.2/release/angular-ui-router.min.js"></script> 
    <script src="resources/js/shared.app.js" type="text/javascript"></script>
    <script src="resources/js/shared.config.js" type="text/javascript"></script>
    <script src="resources/js/shared.run.js" type="text/javascript"></script>
    <script src="resources/js/services/CommonService.js" type="text/javascript"></script>
    <script src="resources/js/directives/scroll-to.directive.js" type="text/javascript"></script>
    <script src="resources/js/controllers/home.controller.js" type="text/javascript"></script>
    <script src="resources/js/controllers/alert.controller.js" type="text/javascript"></script>
    <!--endbuild-->
  </body>
</html>
